[submodule "stesi/gtms"]
	path = stesi/gtms
	url = git@github.com:stesi/gtms.git
	branch = 14.0

[submodule "stesi/gtms_contractmanager"]
	path = stesi/gtms_contractmanager
	url = git@github.com:stesi/gtms_contractmanager.git
	branch = 14.0
