[submodule "stesi/gtms"]
	path = stesi/gtms
	url = git@github.com:stesi/gtms.git
	branch = 14.0

[submodule "stesi/gtms_contractmanager"]
	path = stesi/gtms_contractmanager
	url = git@github.com:stesi/gtms_contractmanager.git
	branch = 14.0

[submodule "stesi/gtms_enterprise"]
	path = stesi/gtms_enterprise
	url = git@github.com:stesi/gtms_enterprise.git
	branch = master

[submodule "stesi/gtms_stock"]
	path = stesi/gtms_stock
	url = git@github.com:stesi/gtms_stock.git
	branch = 14.0

[submodule "OCA/web"]
	path = OCA/web
	url = git@github.com:OCA/web.git
	branch = 14.0

[submodule "stesi/gtms_fleet_planning"]
	path = stesi/gtms_fleet_planning
	url = git@github.com:stesi/gtms_fleet_planning.git
	branch = 14.0

[submodule "stesi/gtms_automatic_supplier"]
	path = stesi/gtms_automatic_supplier
	url = git@github.com:stesi/gtms_automatic_supplier.git
	branch = 14.0

[submodule "stesi/gtms_website"]
	path = stesi/gtms_website
	url = git@github.com:stesi/gtms_website.git
	branch = 14.0

[submodule "OCA/fleet"]
	path = OCA/fleet
	url = git@github.com:OCA/fleet.git
	branch = 14.0

[submodule "stesi/maps"]
	path = stesi/maps
	url = git@github.com:stesi/maps.git
	branch = main

[submodule "ingegniamo/gtms_inspection_survey"]
	path = ingegniamo/gtms_inspection_survey
	url = git@github.com:ingegniamo/gtms_inspection_survey.git
	branch = 14.0

[submodule "ingegniamo/fleet_custom_info"]
	path = ingegniamo/fleet_custom_info
	url = git@github.com:ingegniamo/fleet_custom_info.git
	branch = 14.0

[submodule "OCA/server-tools"]
	path = OCA/server-tools
	url = git@github.com:OCA/server-tools.git
	branch = 14.0

[submodule "ingegniamo/gtms_inspection_website"]
	path = ingegniamo/gtms_inspection_website
	url = git@github.com:ingegniamo/gtms_inspection_website.git
	branch = 14.0

[submodule "ingegniamo/survey_helpdesk"]
	path = ingegniamo/survey_helpdesk
	url = git@github.com:ingegniamo/survey_helpdesk.git
	branch = 14.0

[submodule "ingegniamo/sh_survey_extra_fields"]
	path = ingegniamo/sh_survey_extra_fields
	url = git@github.com:ingegniamo/sh_survey_extra_fields.git
	branch = 14.0

[submodule "ingegniamo/from_smtp_as_return_path"]
	path = ingegniamo/from_smtp_as_return_path
	url = git@github.com:ingegniamo/from_smtp_as_return_path.git
	branch = 14.0

[submodule "ingegniamo/helpdesk_sale_order"]
	path = ingegniamo/helpdesk_sale_order
	url = git@github.com:ingegniamo/helpdesk_sale_order.git
	branch = 14.0
